'body':
  'ctrl-`': 'terminal:open'

'.terminal':
  'enter': 'terminal:enter'
  'delete': 'terminal:delete'
  'backspace': 'terminal:backspace'
  'escape': 'terminal:escape'
  'tab': 'terminal:tab'
  'left': 'terminal:left'
  'right': 'terminal:right'
  'up': 'terminal:up'
  'down': 'terminal:down'
  'home': 'terminal:home'
  'end': 'terminal:end'

'.platform-darwin .terminal':
  'cmd-v': 'terminal:paste'
  'cmd-alt-r': 'terminal:reload'

'.platform-win32 .terminal':
  'ctrl-v': 'terminal:paste'
  'ctrl-alt-r': 'terminal:reload'
